* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.toolbox-cont {
  height: 5rem;
  background-color: #2d3436;
  display: flex;
  align-items: center;
}

.toolbox-cont > * {
  margin-left: 4rem;
  border-radius: 5px;
}

.toolbox-priority-cont {
  height: 3.5rem;
  width: 16rem;
  background-color: #34495e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-btn-cont {
  height: 3.5rem;
  width: 8rem;
  background-color: #8c7ae6;
  display: flex;
}

.action-btn-cont > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 2.5rem;
  color: #2d3436;
}

.color {
  height: 1.2rem;
  width: 2.5rem;
  background: lightsalmon;
  border-radius: 3px;
}

.lightpink {
  background-color: lightpink;
}
.lightblue {
  background-color: lightblue;
}
.lightgreen {
  background-color: lightgreen;
}
.lightblack {
  background-color: black;
}

.action-btn-cont > *:hover {
  background-color: #596275;
}

.modal-cont {
  height: 50vh;
  width: 45vw;
  background-color: lightblue;
  position: absolute;
  top: calc((100vh - 50vh) / 2);
  left: calc((100vw - 45vw) / 2);
  display: flex;
}

.textarea-cont {
  height: 100%;
  width: 75%;
  border: none;
  outline: none;
  resize: none;
  background-color: #c8d6e5;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.priority-colors-cont {
  height: 100%;
  width: 25%;
  background-color: #2d3436;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.priority-color {
  height: 3rem;
  width: 7rem;
}
